#daily_container {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 20% 80%;

  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: white;
  height: 100vh;
  width: 100%;
  gap: 0px;
  padding-top: 75px;
}

#day_container {
  grid-area: 1 / 2 / span 1 / span 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#schedule_table {
  grid-area: 2 / 2 / span 1 / span 3;
}


.hour_button {
  border: none;
  background-color: white;
  width: 60vw;
}

.hour_button:hover {
  background-color: whitesmoke;
}

a {
  text-decoration: underline;
}

.hour_line_even,
.hour_line_odd {
  padding: 0;
  margin: 0;
  border: #ccc;
  border-style: solid #eee thin;
}

.hour_line_even {
  color: #ccc;
}

table {
  width: 100%;
  text-align: "center";
}

/* #footerTemplate {
  position:fixed;
} */