.hour_button {
  /*border-color: transparent;
  background-color: white;*/
  border:none;
  background-color: white;
  width: 60vw;
}
.hour_button:hover {
  background-color: whitesmoke;
}
a{
  text-decoration: underline;
}
.hour_line_even,.hour_line_odd{
  padding:0;
  margin:0;
  border:#ccc;
  border-style: solid #eee thin;
}
.hour_line_even{
  color: #ccc;
}

#daily_container {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    min-height: 60vh;
    padding-top: 75px;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  table{
    width: 900px;
    text-align: "center";
  }
 