@import url(https://fonts.googleapis.com/css?family=Noto+Nastaliq+Urdu);

body {
    background-image: url("/images/try.jpg");

}

#mainPage {
    display: grid;
    margin: 0 auto;
    /**background-color: rgb(253, 215, 0);*/
    grid-template-columns: 7vw 87vw;
    grid-template-rows: 7vh 45vh;   
  }

  #sidebar{
    grid-column: 1 / span 1;
    grid-row: 1 / span 10;
    /*background-color: rgb(226, 75, 15);*/
    background-image: url("/images/try2.jpg");
  }
  #groupSideList{
    padding-top: 100px;
    word-wrap: break-word;
    overflow-y: auto;
    font-family:'Noto+Nastaliq+Urdu';
    text-align: center;
  }
  #groupSideList p{
    font-size: 20px;
  }

#groupSideList a{
  font-size: 20px;
  color: white;
  display: block;
}
  
  #messaging {
    display: grid;
    margin: 0 auto;
    padding-top: 10px;
    /**background-color:rgb(253, 215, 0);*/
    grid-template-columns: 29vw 20vw 10vw 30vw;
    grid-template-rows: 40vh 5vh;
  }
  #textbox {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    
  }
  #button {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  #messages{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    word-wrap: break-word;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
  }
  #messages ul{
    background-color: rgb(255, 238, 5);
    border-radius: 10px;
    padding-right: 20px;
  }

.wrapper {
    margin: 15px auto;
    max-width: 1100px;
}

.container-calendar {
    background: rgb(255, 255, 253);
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
    border-radius: 20px;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.table-calendar td {
    cursor: pointer;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}