@import url(https://fonts.googleapis.com/css?family=Noto+Nastaliq+Urdu);

body {
    background-image: url("/images/background.jpg");

}

#mainPage {
    display: grid;
    margin: 0 auto;
    /**background-color: rgb(253, 215, 0);*/
    grid-template-columns: 10vw 45vw 40vw;
    grid-template-rows: 7vh 93vh;   
  }

  #groupDisplayName{
    color: #e2e2e2;
    display: block;
    text-align: center;
    margin-right: 30%;

  }

  #sidebar{
    grid-column: 1 / span 1;
    grid-row: 1 / span 10;
    border-right: solid;
    border-color: #212529;
    border-width: 15px;
  }
  #groupSideList{
    padding-top: 100px;
    word-wrap: break-word;
    overflow-y: auto;
    font-family:'Noto+Nastaliq+Urdu';
    text-align: center;
    word-wrap: break-word;
  }
  #groupSideList p{
    font-size: 20px;
  }

#groupSideList a{
  font-size: 20px;
  color: white;
  display: block;
}

  
  #messaging {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    margin: 0 auto;
    padding-top: 10px;
    /**background-color:rgb(253, 215, 0);*/
    grid-template-columns: 2vw 20vw 10vw;
    grid-template-rows: 60vh 5vh;
  }
   /* #textTypeDiv{
padding-top: 750px;
margin: 0 auto;
padding-left: 300%;
  }  */
   #textbox {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin-top: 810px;
    padding-top: 20px;
    padding-bottom: 20px;  
  }
  #button {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    margin-top: 810px;
    padding-top: 8px;
    padding-bottom: 32px;
  }  
  #messages{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    word-wrap: break-word;
    overflow-y: auto;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    max-width: 475px;
    min-width: 450px;
    min-height: 800px;
    max-height: 850px;
  }
  #messages ul{
    background-color: rgb(255, 238, 5);
    border-radius: 10px;
    padding-right: 20px;
  }

.wrapper {
    margin: 15px auto;
    max-width: 1100px;
    
}

.container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.container-calendar {
    background: rgb(255, 255, 253);
    padding: 10px;
    max-width: 500px;
    margin:0 auto;
    overflow: auto;
    border-radius: 20px;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.table-calendar td {
    cursor: pointer;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

.ameventdisplay{
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    /* background: lightpink; */
    color: #1b1717;
    background: white;
    border:none;
    /* border: 1px solid #bfc5c5;*/
    border-radius: 3px; 
    /* padding: 5px 1em; */
    padding: 0;
    margin: 0;
    z-index: 2;
    height: 20px;
    width: 50px;
}
.pmeventdisplay{
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    height: 20px;
    width: 50px;
    background: white;
    /* background: lightskyblue; */
    color: #1b1717;
    border: none;
    /* 1px solid #bfc5c5; */
    border-radius: 3px;
    /* padding: 5px 1em; */
    padding: 0;
    margin: 0;
    z-index: 2;
}
.eveeventdisplay{
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    height: 20px;
    width: 50px;
    background: white;
    border:none;
    /* background: lightseagreen; */
    color: #1b1717;
    /* border: 1px solid #bfc5c5;*/
    border-radius: 3px; 
    /* padding: 5px 1em; */
    padding: 0;
    margin: 0;
    z-index: 2;
}

.legendTitle{
  margin: 0 auto;
  text-align: center;
}

.availableLegend {
  width: 28px;
  height: 28px;
  background: rgb(0, 0, 0);
  margin-bottom: 100px;
  border-radius: 15px; 
  margin:0 auto;
  shape-outside: border-box;
}

.availableLegend::before{
  content:"";
  width: 25px;
  height: 25px;
  position: absolute;
  background: #0bb32f;
  border-radius: 10px; 
  margin:0 auto
}
.notAvailableLegend {
  width: 28px;
  height: 28px;
  background: rgb(0, 0, 0);
  margin-bottom: 100px;
  border-radius: 15px; 
  margin:0 auto;
  shape-outside: border-box;
}

.notAvailableLegend::before{
  content:"";
  width: 25px;
  height: 25px;
  position: absolute;
  background: #929292;
  border-radius: 10px; 
  margin:0 auto
}
.amLegend {
  width: 28px;
  height: 28px;
  background: rgb(0, 0, 0);
  margin-bottom: 100px;
  border-radius: 15px; 
  margin:0 auto;
  shape-outside: border-box;
}

.amLegend::before{
  content:"";
  width: 25px;
  height: 25px;
  position: absolute;
  background: lightpink;
  border-radius: 10px; 
  margin:0 auto
}

.pmLegend {
  width: 28px;
  height: 28px;
  background: rgb(0, 0, 0);
  margin-bottom: 100px;
  border-radius: 15px; 
  margin:0 auto;
  shape-outside: border-box;
}

.pmLegend::before{
  content:"";
  width: 25px;
  height: 25px;
  position: absolute;
  background: lightskyblue;
  border-radius: 10px; 
  margin:0 auto
}
.eveLegend {
  width: 28px;
  height: 28px;
  background: rgb(0, 0, 0);
  margin-bottom: 100px;
  border-radius: 15px; 
  margin:0 auto;
  shape-outside: border-box;
}

.eveLegend::before{
  content:"";
  width: 25px;
  height: 25px;
  position: absolute;
  background: lightseagreen;
  border-radius: 10px; 
  margin:0 auto
}

#groupDisplayName{
  display: grid;
  font-size: 25px;
  font-family:'Noto+Nastaliq+Urdu';
  text-align: center;
  margin: 0 auto;
}
.container-fluid{
  text-align: center;
}

@media only screen and (max-width: 1090px) and (min-width: 500px) {

  #mainPage {
    display: grid;
    margin: 0 auto;
    /**background-color: rgb(253, 215, 0);*/
    grid-template-columns: 12vw 85vw 0vw;
    grid-template-rows: 7vh 93vh 93vh;   
  }

  #messaging {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    margin-right:310px;
    padding-top: 0px;
    /**background-color:rgb(253, 215, 0);*/
    grid-template-columns: 2vw 20vw 10vw;
    grid-template-rows: 60vh 5vh;
  }

}
.sidebar_group_button{
  align-items: center;
  list-style: none;
}
.testbuttonclassname{
  height: 30px;
  width: 100px;
}


#groupSideList > button{
  height: 70px;
  width: 80%;
  word-wrap: break-word;
}